html, body {
  height: 100%;
}
#root {
  height: 100%;
}
.app {
  display: flex;
  height: 100%;
  text-align: center;
  .left{
    background-color: blue;
    flex: 1;
    min-width: 250px;
  }
  .right{
    background-color: red;
    flex: 2;
    display: flex;
    padding: 10px;
    .contents{
      flex:1;
      display: flex;
      flex-direction: column;
      background-color: #61dafb;
      border: 10px solid black;
      &-top{
        flex:1;
        border: 10px solid violet;
        display: flex;
        &-tree {
          width: 250px;
          min-width: 250px;
          border: 10px solid brown;
        }
        &-form {
          //flex-grow: 1;
          flex: auto;
          border: 10px solid antiquewhite;
          display: flex;
          &-input {
            flex: auto;
            width: 600px;
            height: 20px;
          }
        }
      }
      &-bottom{
        flex:1;
        border: 10px solid yellow;
      }
      .block {
        display: block;
        height: 10px;
        background-color: green;
      }
    }
  }
}
